
.content-wrapper {
    margin-top: 100px; 
    margin-bottom: 100px;
}
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    grid-gap: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.portfolio-item-wrapper {
    position: relative;    
    /*margin: 10px;*/
    /*background: red;*/

} 

.portfolio-img-background {
   
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*margin: 2px;*/
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}

.log-wrapper img {
    width: 50%;
    margin-bottom: 20px;
    display: none;
}

/*Needs to be more specific with selector*/
.img-text-wrapper .subtitle a{
    transition: 1s;
    font-weight: 600;
    color: lightseagreen;
    font-size: 20px;
    /*background: #555;*/

}
.img-text-wrapper:hover .subtitle a{
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.genre {
      font-size: 20px;
      text-align: center;
      margin: 0 auto 80px;
      position: relative;
      line-height: 60px;
      color: #555;
}